<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Professor Homepage</title>
    <link rel="stylesheet" href="/css/dashBoardStyles.css">
</head>
<body>
<div id="logoutContainer">
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>
<div id="header">
    <h2>Welcome to Quizly!</h2>
</div>
<div class="content">
    <h4>Professor Dashboard:</h4>
    <div class="grid-container">
        <div class="grid-item">
            <a href="/professor/createquiz">Create New Quiz</a>
        </div>
        <div class="grid-item">
            <a href="/professor/viewQuizzes">View Your Quizzes</a>
        </div>
        <div class="grid-item">
            <a href="/professor/quizAnalyticsPage">View Quiz Analytics</a>
        </div>
        <div class="grid-item">
            <a href="/professor/quizAttendance">Search Quiz Attendees</a>
        </div>
    </div>
</div>
</body>
</html>